<?xml version="1.0" encoding="utf-8" ?>
<vpc:configuration xmlns:vpc="http://www.lenovo.com.cn/tqmp/virtualpage.xsd">
  <vpc:vp key="cfguser" title="User" navtitle="User" tab="1080100" ws="Default.aspx" showTab="true" priority="100"
    file="VP/Cfg/CfgUserMgt.ascx">
    <vpc:perms>
      <vpc:perm tag="sysadmin">0</vpc:perm>
      <vpc:perm tag="buadmin">1</vpc:perm>
    </vpc:perms>
  </vpc:vp>
  <vpc:vp key="cfgdata" title="Basic Data" navtitle="Basic Data" tab="1080200" ws="Default.aspx" showTab="true" priority="100"
   file="VP/Cfg/CfgData.ascx">
    <vpc:perms>
      <vpc:perm tag="sysadmin">0</vpc:perm>
    </vpc:perms>
  </vpc:vp>
  <vpc:vp key="cfguserinfo" title="User Info" navtitle="User Info" tab="1080500" ws="Default.aspx" showTab="true" priority="100"
 file="VP/Cfg/CfgUserInfo.ascx">
  </vpc:vp>
</vpc:configuration>


