<?xml version="1.0" encoding="utf-8" ?>
<vpc:configuration xmlns:vpc="http://www.lenovo.com.cn/tqmp/virtualpage.xsd">
  <vpc:vp key="1010100" title="Home" navtitle="Home" tab="1010100" ws="Default.aspx" showTab="false" priority="100"
    file="VP/Demo/MyIdeaList.ascx">
  </vpc:vp>
  <vpc:vp key="myideadetail" title="Home" navtitle="Home" tab="1010100" ws="Default.aspx" showTab="false" priority="1"
    file="VP/Demo/MyIdeaDetail.ascx">
  </vpc:vp>
  <vpc:vp key="myideanew" title="Home" navtitle="Home" tab="1010100" ws="Default.aspx" showTab="false" priority="1"
    file="VP/Demo/MyIdeaNew.ascx">
  </vpc:vp>

  <vpc:vp key="1020100" title="Home" navtitle="Home" tab="1020100" ws="Default.aspx" showTab="false" priority="100"
    file="VP/Demo/TopicList.ascx">
  </vpc:vp>
  <vpc:vp key="topicschedule" title="Home" navtitle="Home" tab="1020100" ws="Default.aspx" showTab="false" priority="1"
   file="VP/Demo/TopicSchedule.ascx">
  </vpc:vp>
  <vpc:vp key="topicreviewer" title="Home" navtitle="Home" tab="1020100" ws="Default.aspx" showTab="false" priority="1"
   file="VP/Demo/TopicReviewer.ascx">
  </vpc:vp>
  <vpc:vp key="topicrecord" title="Home" navtitle="Home" tab="1020100" ws="Default.aspx" showTab="false" priority="1"
   file="VP/Demo/TopicRecord.ascx">
  </vpc:vp>
  <vpc:vp key="topicdcip" title="Home" navtitle="Home" tab="1020100" ws="Default.aspx" showTab="false" priority="1"
   file="VP/Demo/TopicDcIP.ascx">
  </vpc:vp>
  <vpc:vp key="topicsummary" title="Home" navtitle="Home" tab="1020100" ws="Default.aspx" showTab="false" priority="1"
   file="VP/Demo/TopicSummary.ascx">
  </vpc:vp>
  <vpc:vp key="topictrack" title="Home" navtitle="Home" tab="1020100" ws="Default.aspx" showTab="false" priority="1"
   file="VP/Demo/TopicTrack.ascx">
  </vpc:vp>
  <vpc:vp key="topicdetail" title="Home" navtitle="Home" tab="1020100" ws="Default.aspx" showTab="false" priority="1"
   file="VP/Demo/TopicDetail.ascx">
  </vpc:vp>
  <vpc:vp key="ideareview" title="Home" navtitle="Home" tab="1020100" ws="Default.aspx" showTab="false" priority="1"
   file="VP/Demo/IdeaReview.ascx">
  </vpc:vp>


  <vpc:vp key="1030100" title="Home" navtitle="Home" tab="1030100" ws="Default.aspx" showTab="false" priority="100"
    file="VP/Demo/DcList.ascx">
  </vpc:vp>
  <vpc:vp key="1040100" title="Home" navtitle="Home" tab="1040100" ws="Default.aspx" showTab="false" priority="100"
    file="VP/Demo/ApproverList.ascx">
  </vpc:vp>
  <vpc:vp key="1050100" title="Home" navtitle="Home" tab="1050100" ws="Default.aspx" showTab="false" priority="100"
    file="VP/Demo/Feedback.ascx">
  </vpc:vp>
  <vpc:vp key="1060100" title="Home" navtitle="Home" tab="1060100" ws="Default.aspx" showTab="false" priority="100"
    file="VP/Demo/Search.ascx">
  </vpc:vp>
  <vpc:vp key="1070100" title="Home" navtitle="Home" tab="1070100" ws="Default.aspx" showTab="false" priority="100"
    file="VP/Demo/Stat.ascx">
  </vpc:vp>
  <vpc:vp key="1090100" title="Home" navtitle="Home" tab="1090100" ws="Default.aspx" showTab="false" priority="100"
  file="VP/Demo/Help.ascx">
  </vpc:vp>

</vpc:configuration>


