<?xml version="1.0" encoding="utf-8" ?>
<nav:configuration xmlns:nav="http://www.lenovo.com.cn/bom/nav.xsd">
	<nav:menu id="1000000" title="CFI" icon="icon.gif">
    <nav:menu id="1000100" title="Home">
      <nav:tab id="1000101" title="Home"></nav:tab>
    </nav:menu>
    <nav:menu id="1010000" title="My Idea">
      <nav:tab id="1010100" title="My Idea"></nav:tab>
    </nav:menu>
    <nav:menu id="1020000" title="Topics">
      <nav:tab id="1020100" title="My Idea"></nav:tab>
    </nav:menu>
    <nav:menu id="1030000" title="DC List">
      <nav:tab id="1030100" title="DC List"></nav:tab>
    </nav:menu>
    <nav:menu id="1040000" title="Approval">
      <nav:tab id="1040100" title="Approval"></nav:tab>
    </nav:menu>
    <nav:menu id="1050000" title="Tracking">
      <nav:tab id="1050100" title="Tracking"></nav:tab>
    </nav:menu>
    <nav:menu id="1060000" title="Search">
      <nav:tab id="1060100" title="Search"></nav:tab>
    </nav:menu>
    <nav:menu id="1070000" title="Report">
      <nav:tab id="1070100" title="Report"></nav:tab>
    </nav:menu>
    <nav:menu id="1080000" title="Config">
      <nav:tab id="1080200" title="Basic Data"></nav:tab>
      <nav:tab id="1080100" title="User"></nav:tab>
      <nav:tab id="1080500" title="User Info"></nav:tab>
    </nav:menu>
    <nav:menu id="1090000" title="Help">
      <nav:tab id="1090100" title="Help"></nav:tab>
    </nav:menu>
    <nav:menu id="1100000" title="Logout" defaultPage="Logout.aspx"></nav:menu>
  </nav:menu>
</nav:configuration>