#organMgt
{
    margin:8px;
	padding:0px;
	width:1230px;
	min-height:600px;
	_height:600px;
}

#organTree
{
	float:left;
	padding-left:5px;
	border: solid 1px #ccc;
	width:340px;
	height:100%;
	overflow:auto;
}
#organInfo
{
	float:right;
	padding-left:5px;
	padding-right:5px;
	border: solid 1px #ccc;
	width:860px;
	min-height:400px;
	overflow:visible;
}

.dataListArea {width:860px;margin-left:0px;margin-right:0px;}

.dataListArea .itCode {width:150px;text-align:left;border-left:dotted 1px #7380af;}
.dataListArea .fullName {width:150px;text-align:left;border-left:dotted 1px #7380af;}
.dataListArea .phone {width:150px;text-align:left;border-left:dotted 1px #7380af;}
.dataListArea .manager {width:150px;text-align:left;border-left:dotted 1px #7380af;}
.dataListArea .listOp {border-left:dotted 1px #7380af;}

.dataListArea .disabled {text-decoration:line-through;}





fieldset {margin:0px 0px 0px 0px;padding:12px 0px 20px 0px;border: medium none;border-top: solid 1px #ccc;border-bottom: solid 1px #ccc;width:860px;}
fieldset legend {margin: 0px;padding:2px 2px 2px 10px;color: #036;background: transparent;font-size: 1.1em; font-weight:bold;}
fieldset div {display: block;padding: 3px 0px;}
fieldset label {display:inline-block;text-align: left;margin-top:0px;padding-top:3px;padding-bottom:2px;vertical-align:top;}
fieldset select  {vertical-align:top;}


fieldset div {display: block;padding: 3px 0px;}
fieldset label.title {width:6em;display:inline-block;
                     text-align: right;vertical-align:top;
                     margin-top:0px;
                     padding:3px 6px 2px 0px;}
                     
.organ {text-align:left;padding:10px 0px 0px 60px;}
.user {text-align:left;padding:10px 0px 0px 20px;}




.import
{
    clear:both;
    margin:8px;
	padding:0px;
	text-align:right;
}
