fieldset {margin:0px 0px 0px 0px;padding:12px 0px 20px 0px;border: medium none;border-top: solid 1px #ccc;border-bottom: solid 1px #ccc;width:1240px;}
fieldset legend {margin: 0px;padding:2px 2px 2px 10px;color: #036;background: transparent;font-size: 1.1em; font-weight:bold;}
fieldset div {display: block;padding: 3px 0px;}
fieldset label {display:inline-block;text-align: left;margin-top:0px;padding-top:3px;padding-bottom:2px;vertical-align:top;}
fieldset select  {vertical-align:top;}


fieldset label.title {width:19em;display:inline-block;
                     text-align: right;vertical-align:top;
                     margin-top:0px;
                     padding:3px 6px 2px 0px;}

.operation {text-align:center;width:900px;}

